@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
/* Figma Styles of your File */
/* Colors */
/* Fonts */
/* Effects */
.we200 {
  font-weight: 200;
}

.we300 {
  font-weight: 300;
}

.we500 {
  font-weight: 500;
}

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

body,
textarea,
button,
img,
fieldset,
dialog {
  border: none;
}

textarea {
  resize: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* Normalize */
input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Noto Sans KR", sans-serif;
}

.bg-white {
  background-color: #f8f8f8;
}

.btn-external, .btn-search, .btn-menu {
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.header .btn-external, .header .btn-search, .header .btn-menu {
  width: 5.4rem;
  height: 5.5833rem;
  padding: 1.5rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.btn.sm {
  height: 4rem;
  padding-inline: 4rem;
  border: 0.1rem solid;
  font-size: 2rem;
  font-weight: 700;
}
.btn.base {
  height: 5.6rem;
  padding-inline: 4rem;
  border: 0.1rem solid;
  font-size: 2rem;
  font-weight: 700;
}
.btn.light {
  height: calc(auto / 10 * 1rem);
  padding-inline: 3rem;
  border: 0.1rem solid;
  font-size: 1.6rem;
  font-weight: 400;
}
.btn.white {
  background-color: #f8f8f8;
  border-image: linear-gradient(114.44deg, rgb(0, 56, 245) 0%, rgb(159, 3, 255) 100%);
  border-image-slice: 1;
  color: #555555;
}
.btn.white-round {
  background-color: #f8f8f8;
  background-image: linear-gradient(#fff, #fff), linear-gradient(114.44deg, rgb(0, 56, 245) 0%, rgb(159, 3, 255) 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-color: transparent;
  color: #555555;
}
.btn.gradient {
  background-image: linear-gradient(114.44deg, rgb(0, 56, 245) 0%, rgb(159, 3, 255) 100%);
  border: none;
  color: #fcfcfc;
}
.btn.ico1::after {
  background: url(../images/ico_fav_off.svg) no-repeat center;
  content: "";
  width: 2rem;
  height: 2rem;
}
.btn.ico2::after {
  background: url(../images/ico_fav_on.svg) no-repeat center;
  content: "";
  width: 2rem;
  height: 2rem;
}
.btn.ico3::after {
  background: url(../images/ico_export.svg) no-repeat center;
  content: "";
  width: 2rem;
  height: 2rem;
}
.btn.fullsize {
  width: 100%;
}
.btn-menu {
  background: url(../images/ico_menu.svg) no-repeat center;
}
.btn-search {
  background: url(../images/ico_search.svg) no-repeat center;
}
.btn-external {
  background: url(../images/ico_external.svg) no-repeat center;
  padding: 1.5rem;
}
.btn-group {
  display: grid;
}
.footer .btn-group {
  gap: 1.6rem;
}
.btn-group2 button {
  padding: 1rem;
  background-color: #fcfcfc;
}

.avatar__img, .avatar-type1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100rem;
}

.avatar-type1 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.1rem;
  color: #fcfcfc;
  position: relative;
  background: linear-gradient(108.08deg, rgb(255, 156, 0) 0%, rgb(255, 219, 3) 100%);
}
.avatar-type1 img {
  border-radius: 1000px;
}
.avatar-type1.blue {
  background: linear-gradient(114.44deg, rgb(0, 56, 245) 0%, rgb(159, 3, 255) 100%);
}
.user .avatar-type1 {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 2.4rem;
}
.avatar-type2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.075rem;
  color: #333333;
  display: flex;
  align-items: center;
  gap: 0.3981rem;
}
.avatar-type2.column {
  flex-direction: column;
}
.avatar-type2:has(.status) {
  line-height: 2rem;
}
.avatar-type2 .status {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.075rem;
  color: #888888;
  text-align: left;
}
.list-type3 .avatar-type2 {
  gap: 0.996rem;
  align-items: start;
}
.avatar__img {
  position: relative;
  display: inline-block;
}
.avatar__img img {
  width: 100%;
  border-radius: 100rem;
}

.list-type1 {
  width: fit-content;
}
.list-type1 li {
  padding: 1.056rem 1.1rem 1.668rem;
  background-color: #fff;
  border-radius: 3.2rem;
}
.list-type1 li > a {
  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: 39.9211rem 3.2rem 1fr;
}
.list-type1 .img {
  order: 1;
  border-radius: 2.4rem;
}
.list-type1 .text-type2 {
  order: 2;
}
.list-type1 .user {
  order: 3;
}

.list-type2 {
  display: grid;
  gap: 1.6rem;
}
.list-type2 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.6rem;
  background-color: #fcfcfc;
  box-shadow: 0px 81px 106px 0px rgba(0, 0, 0, 0.07), 0px 10.142px 13.273px 0px rgba(0, 0, 0, 0.03);
}
.list-type2 a {
  flex: 1;
  padding: 1.4rem 3.458rem 1.4rem 7.689rem;
  background-color: #fff;
  color: #222222;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.list-type3 {
  display: grid;
  gap: 1.2rem;
}
.list-type3 li {
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc;
  border-radius: 2.4rem;
}
.list-type3 li > a {
  flex: 1;
  padding: 1.054rem 1.2rem 1.278rem;
}
.activity .list-type3 a {
  padding: 1.1rem 1.2rem;
}

.list-type4 {
  display: flex;
  flex-direction: column;
}
.list-type4 a {
  color: #f8f8f8;
  font-size: 1.6rem;
  line-height: 3.25rem;
}
.footer .list-type4 {
  padding-inline: 1.7rem;
}
.footer .list-type4 a {
  padding: 1rem;
}

.search, .select, .input {
  height: 5.6rem;
  border: 0.1rem solid #f0f0f0;
  border-radius: 0.8rem;
  background-color: #f0f0f0;
  padding-inline: 2.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #555555;
  line-height: 2.4rem;
  letter-spacing: 0.016rem;
  box-sizing: border-box;
}
.search::placeholder, .select::placeholder, .input::placeholder {
  color: #555555;
}
.search:disabled, .select:disabled, .input:disabled {
  color: rgba(85, 85, 85, 0.5);
  background: rgba(240, 240, 240, 0.5);
}
[readonly].search, [readonly].select, [readonly].input {
  background: rgba(240, 240, 240, 0.5);
}

.input-wrap {
  display: flex;
  align-items: center;
  border: 0.1rem solid #f0f0f0;
  background-color: #f0f0f0;
  border-radius: 0.8rem;
}
.input-wrap.--active {
  border: 0.1rem solid #555555;
  background: #fcfcfc;
}
.input-wrap.--active .input {
  background: #fcfcfc;
  border: #fcfcfc;
}
.input-wrap > div {
  width: 100%;
}

.input {
  width: var(--w, 100%);
}
.input-wrap .input {
  height: 2.4rem;
}

.input-guide {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.075rem;
  color: #888888;
  padding-inline: 2.4rem;
}

.select {
  background: url(../images/bg_select.svg) no-repeat right 0.987rem center #f0f0f0;
  padding-right: 5.5194rem;
  width: var(--w, 100%);
  appearance: none;
}
.select.on {
  border: 0.1rem solid #002ef1;
}
.select:disabled {
  background: url(../images/bg_select.svg) no-repeat right 0.987rem center #f0f0f0;
  color: rgba(51, 51, 51, 0.5);
}

.search {
  background: url(../images/bg_search.svg) no-repeat left 0.8rem center #f0f0f0;
  padding-left: calc(20 / 10 * 1rem);
  width: var(--w, 100%);
}

.tags {
  display: flex;
}
.tags span {
  border: 0.1rem solid #dcdcdc;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  color: #888888;
  padding: 0.4rem 1rem;
  border-radius: 1000px;
}
.detail-solid .tags {
  gap: 0.2rem;
}

.rounded8 {
  border-radius: 0.8rem;
}
.rounded24 {
  border-radius: 2.4rem;
}
.rounded52 {
  border-radius: 5.2rem;
}
.rounded-full {
  border-radius: 100rem;
}

.text-type1 {
  color: #222222;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
}
.list-type3 .text-type1 {
  font-size: 1.4rem;
  line-height: 2rem;
}

.text-type2 {
  color: #222222;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  letter-spacing: 0.024rem;
}
.state .text-type2 {
  font-size: 2rem;
  line-height: 2.8rem;
}
.list-type3 .text-type2 {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.footer .text-type2 {
  font-size: 2.5725rem;
  line-height: 3.43rem;
  letter-spacing: 0.0257rem;
}

.text-type3 {
  color: #555555;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.list-type3 .text-type3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}

.text-type4 {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.016rem;
}
.activity .text-type4 {
  font-weight: 400;
  font-size: ren(20);
  line-height: 2.8rem;
}
.mix-type1 .text-type4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.8rem;
}

.text-type5 {
  color: #888888;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}
.mix-type1 .text-type5 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.--bullet {
  position: absolute;
  inset: 0.412rem auto auto 3.8rem;
  width: 1.2rem;
  height: 1.2rem;
  background: #009846;
  border-radius: 1000px;
  outline: 1px solid #fff;
}

.bullet.sm {
  width: 0.977rem;
  height: 0.977rem;
  border-radius: 100rem;
}
.bullet.base {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100rem;
}
.bullet.green {
  background-color: #009846;
}
.bullet.red {
  background-color: #fd0025;
}
.bullet.fire {
  background: url(../images/bu_fire.svg) no-repeat;
  width: 1.92rem;
  height: 1.924rem;
}
.bullet.star {
  background: url(../images/bu_star.svg) no-repeat;
  width: 2.6rem;
  height: 2.524rem;
}
.avatar-type1 .bullet, .avatar-type2 .bullet {
  position: absolute;
  inset: 0.412rem auto auto 3.8rem;
  outline: 1px solid #fff;
}
.state .bullet {
  width: 0.6361rem;
  height: 0.6361rem;
}

.list-type2 .etherscan {
  background: url(../images/ico_etherscan.png) no-repeat left 1.657rem center;
}

.list-type2 .ipfs {
  background: url(../images/ico_ipfs.svg) no-repeat left 1.657rem center;
}

.list-type2 .metadata {
  background: url(../images/ico_metadata.svg) no-repeat left 1.657rem center;
}

.state {
  width: 100%;
  height: 6.4rem;
  border: 0.1rem solid #333333;
  border-radius: 5.1rem;
  background-color: #fcfcfc;
}

.state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 4rem;
  box-sizing: border-box;
}
.state.sold-out {
  border-color: #fcfcfc;
  gap: 0.8rem;
}

.user {
  gap: 0.8rem;
  padding: 0.4rem 1.656rem 0.4rem 0.5rem;
  width: fit-content;
  border-radius: 5.2rem;
  background-color: #fcfcfc;
}

.mix-type1 {
  position: relative;
  background-color: #fcfcfc;
}
.mix-type1 .star {
  position: absolute;
  inset: 1.1rem 1.2rem auto auto;
}
.detail-solid .mix-type1 {
  padding: 1.2rem 1.7rem 2.94rem;
}

.shadow {
  box-shadow: 0px 8px 24px 0px rgba(69, 69, 69, 0.06);
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.mt7 {
  margin-top: 0.7rem;
}

.mt10 {
  margin-top: 1rem;
}

.mt12 {
  margin-top: 1.2rem;
}

.mt20 {
  margin-top: 2rem;
}

.mt25 {
  margin-top: 2.5rem;
}

.mt27 {
  margin-top: 2.7rem;
}

.mt36 {
  margin-top: 3.6rem;
}

.mt58 {
  margin-top: 5.8rem;
}

.mr4 {
  margin-right: 0.4rem;
}

.pi16 {
  padding-inline: 1.6rem;
}

.pi20 {
  padding-inline: 2rem;
}

.gap12 {
  gap: 1.2rem;
}

.align {
  display: flex;
}
.align.center {
  justify-content: center;
}
.align.right {
  justify-content: end;
}
.align.both {
  justify-content: space-between;
}
.align.vt {
  align-items: start;
}
.align.vm {
  align-items: center;
}
.align.vb {
  align-items: end;
}
.align.col {
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5833rem;
  padding-inline: 1.6rem;
}
.header.white {
  background-color: #f8f8f8;
}
.header__right {
  display: flex;
  align-items: center;
}

.footer.white {
  background-color: #f8f8f8;
}
.footer__top {
  padding: 2.3rem 1.9rem 8.9rem;
}
.footer-img {
  width: 17.7324rem;
  height: 4.6864rem;
}
.footer-img img {
  width: 100%;
}
.footer__bottom {
  background-color: #222222;
}
.footer__bottom > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 2.5rem;
}

.copy {
  padding: 2.9rem 1.9rem 2.8rem;
  border-top: 0.1rem solid #dcdcdc;
  color: #f0f0f0;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}

/*# sourceMappingURL=style.css.map */
