@use "../abstracts/" as *;

.align {
  display: flex;

  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: end;
  }
  &.both {
    justify-content: space-between;
  }

  &.vt {
    align-items: start;
  }
  &.vm {
    align-items: center;
  }
  &.vb {
    align-items: end;
  }

  &.col {
    flex-direction: column;
  }
}
