@use "../abstracts/" as *;

$mt: (7, 10, 12, 20, 25, 27, 36, 58);
$mr: (4);
$pi: (16, 20);
$gap: (12);

@each $margin in $mt {
  .mt#{$margin} {
    margin-top: rem($margin);
  }
}
@each $margin in $mr {
  .mr#{$margin} {
    margin-right: rem($margin);
  }
}
@each $paddinginline in $pi {
  .pi#{$paddinginline} {
    padding-inline: rem($paddinginline);
  }
}
@each $gap in $gap {
  .gap#{$gap} {
    gap: rem($gap);
  }
}
