@use "../abstracts/" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &.base {
    @include button(base);
  }
  &.lg {
    @include button(lg);
  }

  &-close {
    @include background("ico_close.svg", center);

    .input-wrap & {
      padding: rem(16);
      width: rem(56);
      height: rem(56);
    }
  }
}
