@mixin border($direction, $size, $color) {
  @if $direction == "all" {
    border: $size solid $color;
  } @else if $direction == "top" {
    border-top: $size solid $color;
  } @else if $direction == "bottom" {
    border-bottom: $size solid $color;
  } @else if $direction == "right" {
    border-right: $size solid $color;
  } @else if $direction == "left" {
    border-left: $size solid $color;
  }
}
