@use "../function" as *;
@use "../variable" as *;

$we: 200, 300, 500;
@each $weight in $we {
  .we#{$weight} {
    font-weight: $weight;
  }
}

@mixin text($color, $size, $weight, $lineHight, $letter) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHight;
  letter-spacing: $letter;
  color: $color;
}
