@use "../function" as *;
@use "../variable" as *;

@mixin text($color, $size, $weight, $lineHight, $letter) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHight;
  letter-spacing: $letter;
  color: $color;
}

@mixin avatar-text {
  font-size: rem(32);
  font-weight: 700;
  line-height: rem(36);
  letter-spacing: rem(1);
  color: $grayscale-off-white;
}
