$imgurl: "../images/";
$eng: "Epilogue", sans-serif;

/* Figma Styles of your File */

/* Colors */
$button: linear-gradient(267.61deg, rgba(119, 8, 190, 1) 37.75198459625244%, rgba(0, 0, 234, 1) 68.48435401916504%);
$grayscale-title-active: #222222;
$grayscale-body: #333333;
$grayscale-label: #555555;
$grayscale-placehoder: #888888;
$grayscale-line: #dcdcdc;
$grayscale-input-bg: #f0f0f0;
$grayscale-background: #f8f8f8;
$grayscale-off-white: #fcfcfc;
$primary-default: #002ef1;
$primary-dark: #0000ea;
$primary-dark-mode: #005cff;
$secondery-default: #ffb802;
$secondery-dark: #ff9700;
$secondery-dark-mode: #ffe604;
$error-default: #fe3f61;
$error-dark: #fd0025;
$error-dark-mode: #ff7e86;
$success-default: #009846;
$success-dark: #02971c;
$success-darkmode: #36ea88;
$warning-default: #4d3425;
$warning-dark: #eb3800;
$warning-darkmode: #ff9922;
$gradient-primary: linear-gradient(108.08deg, rgba(0, 0, 235, 1) 0%, rgba(0, 75, 251, 1) 86.51434779167175%);
$gradient-secondery: linear-gradient(108.08deg, rgba(255, 156, 0, 1) 0%, rgba(255, 219, 3, 1) 100%);
$gradient-accent: linear-gradient(114.44deg, rgba(0, 56, 245, 1) 0%, rgba(159, 3, 255, 1) 100%);
$gradient-black: linear-gradient(90deg, rgba(67, 67, 67, 1) 0%, rgba(0, 0, 0, 1) 100%);

/* Fonts */
$desktop-display-largeregular-font-family: Epilogue-Regular, sans-serif;
$desktop-display-largeregular-font-size: 64px;
$desktop-display-largeregular-line-height: 68px;
$desktop-display-largeregular-font-weight: 400;
$desktop-display-largeregular-font-style: normal;
$desktop-display-largebold-font-family: Epilogue-Bold, sans-serif;
$desktop-display-largebold-font-size: 64px;
$desktop-display-largebold-line-height: 68px;
$desktop-display-largebold-font-weight: 700;
$desktop-display-largebold-font-style: normal;
$desktop-display-mediumregular-font-family: Epilogue-Regular, sans-serif;
$desktop-display-mediumregular-font-size: 48px;
$desktop-display-mediumregular-line-height: 52px;
$desktop-display-mediumregular-font-weight: 400;
$desktop-display-mediumregular-font-style: normal;
$desktop-display-mediumbold-font-family: Epilogue-Bold, sans-serif;
$desktop-display-mediumbold-font-size: 48px;
$desktop-display-mediumbold-line-height: 52px;
$desktop-display-mediumbold-font-weight: 700;
$desktop-display-mediumbold-font-style: normal;
$desktop-display-smallregular-font-family: Epilogue-Regular, sans-serif;
$desktop-display-smallregular-font-size: 32px;
$desktop-display-smallregular-line-height: 36px;
$desktop-display-smallregular-font-weight: 400;
$desktop-display-smallregular-font-style: normal;
$desktop-display-smallbold-font-family: Epilogue-Bold, sans-serif;
$desktop-display-smallbold-font-size: 32px;
$desktop-display-smallbold-line-height: 36px;
$desktop-display-smallbold-font-weight: 700;
$desktop-display-smallbold-font-style: normal;
$desktop-text-largeregular-font-family: Epilogue-Regular, sans-serif;
$desktop-text-largeregular-font-size: 24px;
$desktop-text-largeregular-line-height: 36px;
$desktop-text-largeregular-font-weight: 400;
$desktop-text-largeregular-font-style: normal;
$desktop-text-mediumregular-font-family: Epilogue-Regular, sans-serif;
$desktop-text-mediumregular-font-size: 18px;
$desktop-text-mediumregular-line-height: 26px;
$desktop-text-mediumregular-font-weight: 400;
$desktop-text-mediumregular-font-style: normal;
$desktop-text-smallmedium-font-family: Epilogue-Medium, sans-serif;
$desktop-text-smallmedium-font-size: 16px;
$desktop-text-smallmedium-line-height: 24px;
$desktop-text-smallmedium-font-weight: 500;
$desktop-text-smallmedium-font-style: normal;
$desktop-text-x-smallregular-font-family: Epilogue-Medium, sans-serif;
$desktop-text-x-smallregular-font-size: 14px;
$desktop-text-x-smallregular-line-height: 20px;
$desktop-text-x-smallregular-font-weight: 500;
$desktop-text-x-smallregular-font-style: normal;
$desktop-link-largeregular-font-family: Epilogue-Regular, sans-serif;
$desktop-link-largeregular-font-size: 24px;
$desktop-link-largeregular-line-height: 32px;
$desktop-link-largeregular-font-weight: 400;
$desktop-link-largeregular-font-style: normal;
$desktop-link-mediumbold-font-family: Epilogue-Bold, sans-serif;
$desktop-link-mediumbold-font-size: 18px;
$desktop-link-mediumbold-line-height: 28px;
$desktop-link-mediumbold-font-weight: 700;
$desktop-link-mediumbold-font-style: normal;
$desktop-link-smallbold-font-family: Epilogue-Bold, sans-serif;
$desktop-link-smallbold-font-size: 16px;
$desktop-link-smallbold-line-height: 24px;
$desktop-link-smallbold-font-weight: 700;
$desktop-link-smallbold-font-style: normal;
$desktop-link-x-smallbold-font-family: Epilogue-Bold, sans-serif;
$desktop-link-x-smallbold-font-size: 14px;
$desktop-link-x-smallbold-line-height: 20px;
$desktop-link-x-smallbold-font-weight: 700;
$desktop-link-x-smallbold-font-style: normal;
$mobile-display-largeregular-font-family: Epilogue-Regular, sans-serif;
$mobile-display-largeregular-font-size: 40px;
$mobile-display-largeregular-line-height: 48px;
$mobile-display-largeregular-font-weight: 400;
$mobile-display-largeregular-font-style: normal;
$mobile-display-largebold-font-family: Epilogue-Bold, sans-serif;
$mobile-display-largebold-font-size: 40px;
$mobile-display-largebold-line-height: 48px;
$mobile-display-largebold-font-weight: 700;
$mobile-display-largebold-font-style: normal;
$mobile-display-mediumregular-font-family: Epilogue-Regular, sans-serif;
$mobile-display-mediumregular-font-size: 32px;
$mobile-display-mediumregular-line-height: 36px;
$mobile-display-mediumregular-font-weight: 400;
$mobile-display-mediumregular-font-style: normal;
$mobile-display-smallregular-font-family: Epilogue-Regular, sans-serif;
$mobile-display-smallregular-font-size: 24px;
$mobile-display-smallregular-line-height: 32px;
$mobile-display-smallregular-font-weight: 400;
$mobile-display-smallregular-font-style: normal;
$mobile-display-mediumbold-font-family: Epilogue-Bold, sans-serif;
$mobile-display-mediumbold-font-size: 32px;
$mobile-display-mediumbold-line-height: 36px;
$mobile-display-mediumbold-font-weight: 700;
$mobile-display-mediumbold-font-style: normal;
$mobile-display-smallbold-font-family: Epilogue-Bold, sans-serif;
$mobile-display-smallbold-font-size: 24px;
$mobile-display-smallbold-line-height: 32px;
$mobile-display-smallbold-font-weight: 700;
$mobile-display-smallbold-font-style: normal;
$mobile-text-largeregular-font-family: Epilogue-Regular, sans-serif;
$mobile-text-largeregular-font-size: 20px;
$mobile-text-largeregular-line-height: 28px;
$mobile-text-largeregular-font-weight: 400;
$mobile-text-largeregular-font-style: normal;
$mobile-text-mediumregular-font-family: Epilogue-Regular, sans-serif;
$mobile-text-mediumregular-font-size: 16px;
$mobile-text-mediumregular-line-height: 22px;
$mobile-text-mediumregular-font-weight: 400;
$mobile-text-mediumregular-font-style: normal;
$mobile-text-smallregular-font-family: Epilogue-Medium, sans-serif;
$mobile-text-smallregular-font-size: 13px;
$mobile-text-smallregular-line-height: 20px;
$mobile-text-smallregular-font-weight: 500;
$mobile-text-smallregular-font-style: normal;
$mobile-link-largebold-font-family: Epilogue-Bold, sans-serif;
$mobile-link-largebold-font-size: 20px;
$mobile-link-largebold-line-height: 28px;
$mobile-link-largebold-font-weight: 700;
$mobile-link-largebold-font-style: normal;
$mobile-link-mediumbold-font-family: Epilogue-Bold, sans-serif;
$mobile-link-mediumbold-font-size: 16px;
$mobile-link-mediumbold-line-height: 24px;
$mobile-link-mediumbold-font-weight: 700;
$mobile-link-mediumbold-font-style: normal;
$mobile-link-smallbold-font-family: Epilogue-Bold, sans-serif;
$mobile-link-smallbold-font-size: 14px;
$mobile-link-smallbold-line-height: 20px;
$mobile-link-smallbold-font-weight: 700;
$mobile-link-smallbold-font-style: normal;
$mobile-link-smallbold-font-family: Epilogue-Bold, sans-serif;
$mobile-link-smallbold-font-size: 13px;
$mobile-link-smallbold-line-height: 20px;
$mobile-link-smallbold-font-weight: 700;
$mobile-link-smallbold-font-style: normal;

/* Effects */
$dropshadow-box-shadow: 0px 8px 24px 0px rgba(69, 69, 69, 0.06);
$smooth-shadow-box-shadow: 0px 10.14px 13.27px 0px rgba(0, 0, 0, 0.03), 0px 81px 106px 0px rgba(0, 0, 0, 0.07);
